<div class="modal" id="deptTreeModal" th:fragment="deptTreeModal" >
<div class="modal-content">
        <div class="modal-header">
            <h3>부서 선택</h3>
        </div>
        
        <div class="modal-body">
            <div class="tree-box">
                <div id="jstree_demo_div"></div>
            </div>
            <div class="user-list-box" id="user_list_box"></div>
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn-close" onclick="closeDeptModal()">닫기</button>
        </div>
    </div>
</div>