<div class='modal' id='MasterModal' th:fragment="masterSaveModal" >
    <div class='modal-overlay' onclick="closeMasterSaveModal()"></div>
    <div class='modal-wrapper'>
        <div class='modal-content'>
            <h3>새 캘린더 추가</h3>
            
            <div class="radio-group">
                <label class="radio-label"><input type="radio" name="calType" value="PERSONAL" checked/> 개인</label>
                <label class="radio-label"><input type="radio" name="calType" value="DEPT"/> 부서</label>
                <label class="radio-label"><input type="radio" name="calType" value="COMPANY"/> 전사</label>
            </div>
            
            <div class="input-group">
                <label>달력명</label>
                <input type="text" id="calName" placeholder="캘린더 이름을 입력하세요" required/>
            </div>

            <div class="input-group">
                <label>공유자 설정</label>
                <button type="button" class="btn-share-add" onclick="shareSelector()">+ 공유자 추가</button>
                <div id="shareUserContainer" class="share-box">
                    <span id="noShareMsg">선택된 공유자가 없습니다.</span>
                    <ul id="dynamicShareList"></ul>
                </div>
            </div>
            
            <div class="modal-footer-btns">
                <button type="button" onclick="saveCalendarMaster()" class="btn-save">저장</button>
                <button type="button" onclick="closeMasterSaveModal()" class="btn-cancel">취소</button>
            </div>
        </div>
    </div>
</div>