<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/users/sign-up.css}" />
<title>my Page</title>
<th:block th:replace="~{common/header :: headerFragment}"></th:block>
</head>
<body>
	<div class="signup-container">
        <h2>my Page</h2>
		<div class="form-group font-profile-info">
	        <label th:text="|#{label.sosok.deptname} :|"></label>
	        <span id="viewDeptName">-</span>
	    </div>
	    <div class="form-group font-profile-info">
	        <label th:text="|#{label.pos.name} :|"></label>
	        <span id="viewPosName">-</span>
	    </div>
	    <hr>
        <div class="form-group">
            <input type="text" id="name" th:placeholder="#{label.name.placeholder}" readonly="readonly"/>
        </div>
        <div class="form-group">
            <input type="text" id="email" th:placeholder="#{label.email.placeholder}" readonly="readonly"/>
        </div>
        
        <button type="button" class="btn-main" onclick="fnUpdate()" th:text="#{modify.btn}"></button>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script th:src="@{/js/common/api.js}"></script>
<script th:inline="javascript">
const empNo = /*[[${empNo}]]*/ 'default_emp_no';
$(function(){
	async function getProfile(){
		const res = await callApi(`/api/users/${empNo}/getProfileInfo`,'GET');
		if (res){
			$("#viewDeptName").text(res.data.deptName);
	        $("#viewPosName").text(res.data.posName);	        
	        $("#name").val(res.data.name);
	        $("#email").val(res.data.email);
		}
	};
	getProfile();
});
async function fnUpdate(){
	const btn = $('.btn-main');
	if (btn.text() === _MSG.MODIFY_BTN){
        $("#name").prop("readonly", false).focus();
        $("#email").prop("readonly", false);
        
        btn.text(_MSG.SAVE_BTN).addClass("btn-save");
	} else if (btn.text() === _MSG.SAVE_BTN){
		if(!$("#name").val().trim()) { 
			alert(_MSG.NAME_ISEMPTY); 
			return; 
		}
        if(!$("#email").val().trim()) { 
        	alert(_MSG.EMAIL_ISEMPTY); 
        	return; 
        }
    	const email = document.getElementById('email').value;
    	const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    	if (!emailRegex.test(email)){
    		alert(_MSG.EMAIL_REGEX);
    		$("#email").val().focus();
            return;
    	}
        const data = {
        		empNo : empNo,
        		name : $("#name").val(),
        		email : $("#email").val()
        }
        const res = await callApi(`/api/users/${empNo}/updateProfile`,'PATCH',data);
        if (res){
        	alert(res.message);
        	$("#name").prop("readonly", true);
            $("#email").prop("readonly", true);
            btn.text(_MSG.MODIFY_BTN);
        }
	}
}
</script>
</body>
</html>